In [0]:
import pandas as pd

In [2]:
data = {"Student ID":[416,375,400,211,312],
"Communication":[7,6,5,8,9],
"Placed":["Yes","No","No","Yes","Yes"]}

placement_data  =  pd.DataFrame(data)
placement_data

   Student ID  Communication Placed
0         416              7    Yes
1         375              6     No
2         400              5     No
3         211              8    Yes
4         312              9    Yes

**How to write the logic**
* The communication score should be greater than 6

In [5]:
placement_data ['Communication']>6

0     True
1    False
2    False
3     True
4     True
Name: Communication, dtype: bool

In [0]:
st=[311,6]
def placement_prediction(st):
  if st[1]>6:
    return "YES"
  else:
    return "NO"

In [7]:
placement_prediction(st)

'NO'

In [8]:
placement_prediction([45,3.6])

'NO'

**Alogorithm,Model**
- Decision tree classifir
- Available DTC

**Decision tree classifier**
- fit(features,target)
  - communication
  - placed
  features 2d array
  placed 1d array
- predict

**Get the communication column as 2d Array**

In [11]:
placement_data['Communication'].shape

(5,)

In [20]:
placement_data[['Communication','Placed']]

   Communication Placed
0              7    Yes
1              6     No
2              5     No
3              8    Yes
4              9    Yes

In [23]:
import sklearn
from sklearn.tree import DecisionTreeClassifier
dtc=DecisionTreeClassifier()

dtc.fit(placement_data[['Communication']],placement_data['Placed'])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [24]:
dtc.predict(placement_data[['Communication']])

array(['Yes', 'No', 'No', 'Yes', 'Yes'], dtype=object)

In [25]:
placement_data['Placed']

0    Yes
1     No
2     No
3    Yes
4    Yes
Name: Placed, dtype: object

In [26]:
dtc.predict([[8]])

array(['Yes'], dtype=object)

In [27]:
dtc.predict([[8],[7.5],[3.4]])

array(['Yes', 'Yes', 'No'], dtype=object)

**Labeled and unlabeled data**
- labeled means alog with placed column
- Unlabeled without placed column

In [28]:
data2 = {"Student ID":[416,375,400,211],
         "Internal Marks":[25,30,18,15],
         "No of hours Study":[2,1,2,3],
         "Marks":[72.5,85,55,47.5]}
marks_data2 = pd.DataFrame(data2)
marks_data2

   Student ID  Internal Marks  No of hours Study  Marks
0         416              25                  2   72.5
1         375              30                  1   85.0
2         400              18                  2   55.0
3         211              15                  3   47.5

In [29]:
marks_data2.iloc[:,1:3]

   Internal Marks  No of hours Study
0              25                  2
1              30                  1
2              18                  2
3              15                  3

In [32]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(marks_data2.iloc[:,1:3],marks_data2['Marks'])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [33]:
lr.coef_

array([2.50000000e+00, 1.38611385e-17])

In [34]:
lr.intercept_

10.0

In [35]:
lr.predict(marks_data2.iloc[:,1:3])

array([72.5, 85. , 55. , 47.5])

In [36]:
marks_data2['Marks']

0    72.5
1    85.0
2    55.0
3    47.5
Name: Marks, dtype: float64

**Question 1:**

In [39]:
def L(x): return x[1:]+x[0]
def R(x): return x[-1]+x[0:len(x)-1]
n=int(input())
list1=[input() for i in range(n)]  
for x in list1:
    print("YES") if L(x) == R(x) else print("NO")

1
ab
YES